<?xml version="1.0"?>
<model>
  <name>inginuity_helicopter</name>
  <version>0.1.0</version>
  <author>
   <name>Kolitha Warnakulasooriya</name>
   <email>kolithawarnakulasooriya@outlook.com</email>
  </author>
  <sdf version="1.7">model.sdf</sdf>
  <description>
    NASA's Ingenuity Mars Helicopter has landed on the Red Planet.Source 3D Models: https://nasa3d.arc.nasa.gov/detail/ingenuity_thumb
  </description>
</model>
